@page "/add"
@rendermode InteractiveWebAssembly

<h3>Add New Code</h3>

<EditForm Model="newCode" OnValidSubmit="AddCode">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="newCode.Title" placeholder="Title" />
    <div class="buttons">
        <button type="submit" class="button">Add</button>
    </div>

    <CaptureQRComponent TDataModel="TwoFactorCode">
        <InputText @bind-Value="newCode.Name" placeholder="Company Name" />
        <InputText @bind-Value="newCode.ClientId" placeholder="Client ID" />
        <InputText @bind-Value="newCode.SharedKey" placeholder="Shared Key" />
    </CaptureQRComponent>
</EditForm>

