@page "/add"
@rendermode InteractiveWebAssembly

<h3>Add New Code</h3>

<EditForm Model="ViewModel" OnValidSubmit="AddCode">
    <ModelValidator Validator="ViewModel.Validator" />

    <CaptureQRComponent TDataModel="TwoFactorCode" @ref=Reader>
        <HeaderContent>
            <div class="field">
                <div class="control">
                <label class="label">Description</label>
                    <InputText @bind-Value="ViewModel.Description" placeholder="Description" class="input" />
                    <ValidationMessage For="() => ViewModel.Description" />
                </div>
            </div>
        </HeaderContent>
        <ChildContent>
            <div class="field">
                <div class="control">
                <label class="label">Company Name</label>
                    <InputText @bind-Value="ViewModel.Name" placeholder="Company Name" class="input" />
                    <ValidationMessage For="() => ViewModel.Name" />
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control is-expanded">
                <label class="label">Code</label>
                    <InputText @bind-Value="ViewModel.ClientId" placeholder="Code" class="input" />
                    <ValidationMessage For="() => ViewModel.ClientId" />
                </div>
                <div class="control is-expanded">

                    <label class="label">Secret</label>
                    <InputText @bind-Value="ViewModel.SharedKey" placeholder="Secret" class="input" />
                    <ValidationMessage For="() => ViewModel.SharedKey" />
                </div>
            </div>
        </ChildContent>
        <Buttons>
            <a href="" class="button is-link">Cancel</a>
            <button type="submit" class="button is-primary">Add</button>
        </Buttons>
    </CaptureQRComponent>
</EditForm>

