.capture-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    .capture-wrapper video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .capture-wrapper .buttons-wrapper {
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: rgba(18, 12, 12, 0.35); 
        z-index: 2;
    }

    .capture-wrapper .qr-frame {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: calc(85% - 2rem);
        border: 2px dashed whitesmoke;
        border-radius: 1rem;
        box-sizing: border-box;
        pointer-events: none;
        z-index: 1;
    }