@typeparam TDataModel

<b>DecodeContinuously:</b>
<br />
<pre>@BarCode</pre>

<div class="capture-wrapper">
    @if (IsShowContent)
    {
        @ChildContent
        <button class="button is-info"
                type="button" @onclick="DecodeFromImage">
            Decode from image
        </button>
        <button type="button" class="button" @onclick="HideContent">Read Barcode</button>
    }
    else
    {
        <BarcodeReader ScanResult="TryDecodeData"
                       OnError=OnError
                       Options=options
                       UseBuiltinDiv="false"
                       @ref="barcodeReaderCustom" />
        <div @ref="barcodeReaderCustom.Element">
            <div>
                <video id="video" playsinline autoplay style="width:70vw;max-width:250px;height:200px;border: 1px solid red"></video>
            </div>
            <div data-action="sourceSelectPanel" style="display:none" class="field">
                <label class="label" for="sourceSelect">Select Device:</label>
                <div class="control">
                    <div class="select is-small">
                        <select data-action="sourceSelect"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-wrapper">
            <div class="buttons">
                <button class="button is-info"
                        type="button" @onclick="DecodeFromImage">
                    Decode from image
                </button>
                <button type="button" class="button" @onclick="ShowContent">Manual Entry</button>
            </div>
        </div>


    }
</div>
<div style="display: none">
    <BarCodes @ref="barCodes" OnQRCodeGen="TryDecodeData" OnDecodeFromImage="TryDecodeData" OnError="OnError"
                Options="options" />
</div>



