@typeparam TDataModel

<div class="capture-wrapper">
    @if (IsShowContent)
    {
        <div class="columns">
            <div class="column">
                @HeaderContent
            </div>
        </div>
        <div class="columns">
            <div class="column">
                @ChildContent
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons">
                    @Buttons
                </div>
            </div>
            <div class="column">
                <div class="buttons is-right">
                    <button class="button is-info"
                            type="button" @onclick="DecodeFromImage">
                        Decode from image
                    </button>
                    <button type="button" class="button" @onclick="HideContent">Read Barcode</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <BarcodeReader ScanResult="TryDecodeData"
                       OnError=OnError
                       Options=BarcodeOptions
                       UseBuiltinDiv="false"
                       @ref="BarcodeReaderCustom" />
        <div @ref="BarcodeReaderCustom.Element">
            <div class="columns">
                <div class="column">
                    @HeaderContent
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <video id="video" playsinline autoplay></video>
                </div>
            </div>
            <div class="buttons-wrapper" data-action="sourceSelectPanel">
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            @Buttons
                        </div>
                    </div>
                    <div class="column">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="help" style="color: white" for="sourceSelect">Select Device:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select">
                                            <select data-action="sourceSelect"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="buttons is-right">
                            <button class="button is-info"
                                    type="button" @onclick="DecodeFromImage">
                                Decode from image
                            </button>
                            <button type="button" class="button" @onclick="ShowContent">Manual Entry</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div style="display: none">
    <BarCodes @ref="BarCodes" OnQRCodeGen="TryDecodeData" OnDecodeFromImage="TryDecodeData" OnError="OnError"
              Options="BarcodeOptions" />
</div>



