@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayoutResource> L

<header class="navbar is-light has-shadow" >
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="_content/AuthifyPass.Views/img/Logo512.png" alt="AuthifyPass" style="height: 32px; width: 32px; margin-right: 8px;" />
            <strong>AuthifyPass</strong>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a href="about-us" class="navbar-item">
                <span class="icon"><i class="fas fa-info-circle"></i></span>
                <span>@L["AboutUs"]</span>
            </a>
        </div>
        <div class="navbar-end">
            <a href="register" class="navbar-item">
                <span class="icon"><i class="fas fa-user-plus"></i></span>
                <span>@L["RegisterAsDeveloper"]</span>
            </a>
            <a href="https://github.com/drualcman/AuthifyPass" target="_blank" class="navbar-item">
                <span class="icon"><i class="fab fa-github"></i></span>
                <span>@L["ViewOnGitHub"]</span>
            </a>
        </div>
    </div>
</header>

<main class="container">
    <article class="content">
        @Body
    </article>
</main>

<aside id="blazor-error-ui" data-nosnippet class="blazor-error-boundary">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</aside>
